<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Оплата</title>
</head>

<body>

    <a href="/"><button>Вернутся на главную</button></a>

    <main>
        <form action="/api/deposit" method="post">
            <input type="text" name="receiver" id="" placeholder="Ваш номер счета">
            <input type="number" name="amount" id="" placeholder="Количетсво которое внести" min="0">
            <button type="submit">Оплатить</button>
        </form>
    </main>

</body>

</html>