<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
</head>

<body>

    <main>
        <a href="/pay"><button>Оплатить</button></a>
        <a href="/deposit"><button>Пополнить</button></a>
        <a href="/transfer"><button>Перевести</button></a>
    </main>

</body>

</html>